.levelStepContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

.levelStep{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2563eb;
    border-radius: 50%;
    width: 70px;
    height: 60px;
    transform: translateY(-10%);
}

.levelStep:hover {
    cursor: pointer;
    transform: translateY(-5%);
}

.shadow {
    background-color: #37618b;
    border-radius: 50%;
    width: 70px;
    height: 60px;
}

.starIcon {
    width: 40px;
    height: 40px;
}

.levelLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5d8cf1;
    color: white;
    width: 250px;
    height: 110px;
    margin-left: 30px;
    border-radius: 20px;
    justify-content: center;
    margin-top: 0.5rem;
}

.levelButton {
    width: 60%;
    height: 35px;
    border-radius: 15px;
    border-style: none;
    background-color: #ffffff;
}


.levelButton:hover {
    cursor: pointer;
    transform: scale(1.05);
}